<!DOCTYPE html>
<html>
  <head>
    <link href="../css/styles.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	</head>
  <body>
	<div class="category-list-page">
	  <div class="header">
			<div class="video-header">
				<i class="fa fa-video"></i>
			 <div>ویدئو های آموزشی</div>
			</div>
			<a href="../index.html" class="back-video">
				<i class="fa fa-arrow-left"></i>
			</a>
			</div>
	  <div class="main">
			<div class="scroll">
					<a href="../Videos/video-1.html" class="cat">
							<img src="../Videos/video-icon/1.PNG" alt="">
							<p>کاشت توت فرنگی ، فلفل و لیمو به صورت ساده</p>
					</a>
					<a href="../Videos/video-2.html" class="cat">
						<img src="../Videos/video-icon/6.PNG" alt="">
						<p>آموزش گل کاری ارگانیک</p>
				</a>
				<a href="../Videos/video-3.html" class="cat">
					<img src="../Videos/video-icon/3.PNG" alt="">
					<p>آموزش تکثیر گیاه حسن یوسف</p>
			</a>
			<a href="../Videos/video-4.html" class="cat">
				<img src="../Videos/video-icon/4.PNG" alt="">
				<p>کاشت و تکثیر میوه در خانه</p>
		</a>
		<a href="../Videos/video-5.html" class="cat">
			<img src="../Videos/video-icon/5.PNG" alt="">
			<p>چند ترفند برای رشد و تکثیر گل و گیاه</p>
	</a>
	<a href="../Videos/video-6.html" class="cat">
		<img src="../Videos/video-icon/6.PNG" alt="">
		<p>تکثیر گیاهی جدید از یک شاخه گل رز</p>
</a>
<a href="../Videos/video-7.html" class="cat">
	<img src="../Videos/video-icon/2.PNG" alt="">
	<p>تکثیر و کاشت گیاه پوتوس</p>
</a>

			</div>
	  </div>
		<div class="footer">
			<a href="../components/about-us.html" class="contact">
					<i class="fa fa-question-circle"></i>
			</a>
			<a href="../index.html" class="home-button">
					<i class="fa fa-home"></i>
			</a>
			<a href="../components/Video.html" class="category">
							<i class="fa fa-video"></i>
			</a>
		</div>
	</div>
  </body>
</html>		
