<html>
    <head>
        <link href="../css/styles.css" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
    <body>
        <div class="about-us">
            <div class="scroll">
                <br>
                <div class="about-baghboon">درباره باغبون</div>
                <div class="description-baghboon">
                    <div class="logo">باغبون</div>
                    <br>
                    <div>اپلیکیشن "باغبون"، اولین و تنها نرم افزار معرفی گیاهان و آموزش پرورش دادن آن هاست که فاز طراحی و انتشار آن در بهار 1398 شکل گرفته است. باعث افتخار است که با نظرات و ایده های سازنده خود ، ما را در توسعه و به روزرسانی های بعدی باغبون یاری نمایید.</div>
                </div>
                <br>
                <div class="about-baghboon">ارتباط با ما</div>
                <div class="contact-text">جهت ارسال پیشنهادات ، انتقادات و ایده های سازنده خود و همچنین آگاهی از تعرفه ی تبلیغات در نرم افزار "باغبون" ، می توانید از طریق ایمیل های زیر با ما در ارتباط باشید.</div>
                <div class="contact-email">
                    <i class="fa fa-envelope"></i>
                    <div>farapcmanager@gmail.com</div>
                </div>
                <div class="contact-email">
                    <i class="fa fa-envelope"></i>
                    <div>zahraaa.moradi.1997@gmail.com</div>
                </div>
                <br>
            </div>
            <div class="footer">
                <a href="../components/about-us.html" class="contact">
                    <i class="fa fa-question-circle"></i>
                </a>
                <a href="../index.html" class="home-button">
                    <i class="fa fa-home"></i>
                </a>
                <a href="../components/Video.html" class="category">
                        <i class="fa fa-video"></i>
                </a>
              </div>
        </div>
    </body>
</html>